<div id="recipes" class="transitions-enabled">
<% if !user_signed_in? %>
<div class="panel center">
		<h3>Join the fun and upload a juicing recipe</h3>
		 	
		<p>
	       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	    </p>
	    
	</div>
	<% end %>
<h1>Juice Recipe List</h1>

<div class="panel">
<% if user_signed_in? %>
<p><%= link_to "New Recipe", new_recipe_path, class: "btn btn-success btn-sm" %></p>
<% end %>
</div>


<ol>
	<% @recipes.each do |recipe| %>
	<li>
		<ul>
			<p><%= link_to(recipe.title, recipe) %></p>
			<li><%= recipe.veggie1 %></li>
			<li><%= recipe.veggie2 %></li>
			<li><%= recipe.fruit1 %></li>
			<li><%= recipe.fruit2 %></li><br>
			<%= link_to image_tag(recipe.image(:thumb)), recipe %><br>
		</ul><br>
	</li>
	<% end %>
</ol>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <ul class="nav navbar-nav navbar-left">
<li><%= link_to("Home", recipes_path)%></li>
</ul>
</div><!-- /.container --> 
</nav>
</div>