<div class="panel">
<p><%= link_to "New Recipe", new_recipe_path, class: "btn btn-success btn-sm" %></p>
</div>
<p>Two vegetables & two fruits green juices.  Mix ingredients in juicer with 1 cup of either water or low-fat milk.</p>

<ul>
	<p><%= @recipe.title %></p>
	<li><%= @recipe.veggie1 %></li>
	<li><%= @recipe.veggie2 %></li>
	<li><%= @recipe.fruit1 %></li>
	<li><%= @recipe.fruit2 %></li><br>
	<%= image_tag @recipe.image(:medium) %><br>
</ul>
<br>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <ul class="nav navbar-nav navbar-left">
	    <% if @recipe.user == current_user %>
	    <% end %>
<li><%= link_to("Edit", edit_recipe_path)%></li>
<li><%= link_to("Delete", @recipe, :method => :delete)%></li>
<li><%= link_to("Home", recipes_path)%></li>
</ul>
</div><!-- /.container --> 
</nav>